
#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-image: linear-gradient(to bottom, #808080, #D9AF32), url("../images/sobre_nos/estrutura2.png");
    background-repeat: no-repeat;
    background-position: left calc(100% - 100px); /* Ajuste o valor 100px conforme necessário */
    background-size: contain;
    background-blend-mode: multiply;
    opacity: 1;
    background-attachment: fixed; /* Fixa a imagem em relação à janela */
}

/* adicionar fonte da pasta */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*  ###### estilo para estruturar a pagina em containers de linhas e colunas ####### */
.container {
    position: absolute;
    top: 0;
    left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-md-6 {
    width: 50%;
    padding: 10px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/*  ###### ############################################################# ####### */
.scroll_animado_up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Quando a classe 'ativo' for adicionada pelo JS, o efeito acontece */
.scroll_animado_up.ativo {
    opacity: 1;
    transform: translateY(0);
}

/* Para evitar a barra de rolagem lateral */
html, body {
    overflow-x: hidden; /* Impede a rolagem lateral */
}

/* Estilo do título */
.sobre_nos_titulo {
    font-size: 100px; /* Ajuste conforme necessário */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center; /* Alinhamento padrão para desktop/tablet */
    line-height: 0.8; /* Altura da linha */
    padding-bottom: 10px;
    opacity: 0;
    transform: translateX(-100vw); /* Inicialmente fora da tela à esquerda */
    transition: all 0.5s ease-out;
}

/* Estilo do parágrafo */
.p_sobre {
    font-size: 18px; /* Ajuste conforme necessário */
    opacity: 0;
    transform: translateX(100vw); /* Inicialmente fora da tela à direita */
    transition: all 0.5s ease-out;
    font-weight: bold;
}

/* Animação de scroll para a entrada dos elementos */
.sobre_nos_titulo.visible {
    opacity: 1;
    transform: translateX(0); /* Quando visível, entra na posição original */
}

.p_sobre.visible {
    opacity: 1;
    transform: translateX(0); /* Quando visível, entra na posição original */
}


.subtitulo{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; /* Removido padding para alinhar ao canto */
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.sobre_nos_p {
    top: 20px;           /* Define a distância do topo */
    left: 20px;          /* Define a distância da esquerda */
    margin: 0;           /* Remove margens padrão */
    padding: 10px;       /* Espaço interno opcional */
    font-size: 20px; /* Aumenta o tamanho do texto */
    font-weight: bold; /* Deixa mais destacado */
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* responsividade para tablets ou celulares */

/* Media query para telas de celular */
@media (max-width: 768px) {
    .sobre_nos_titulo {
        position: relative;
        text-align: center top; /* Centraliza o texto */
        font-size: 8vw; /* Ajuste conforme necessário */
        width: 80%; /* Define a largura do texto */
        margin: 0 auto; /* Centraliza o texto horizontalmente */
    }

    .video_sobre{
        width: 80%;
    }

    #sobre { /* Substitua #sobre-nos pelo seletor correto da sua section */
        height: auto; /* Altura automática para dispositivos móveis */
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

.container_pai{
    position: relative;
    padding: 10%;
}

.container_textos {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; /* Defina a largura máxima desejada */
    margin: 0 auto; /* Centraliza o contêiner na página */
  }

/* .section-title {
    font-size: 32px;
    color: #b8860b; 
    margin-bottom: 20px;
} */

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: translateY(-10px) scale(1.05); /* Eleva o card e aumenta levemente */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para o hover */
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 22px;
    color: #b8860b;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
}